.video {
  max-width: 100%;
  overflow: hidden;
}

.video video,
.video .placeholder {
  max-height: 360px;
  max-width: 640px;
  min-height: 240px;
  min-width: 240px;
  width: 100%;
}

.iframe {
  max-height: 360px;
  max-width: 640px;
  min-height: 240px;
  min-width: 240px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .iframe {
    min-width: 240px;
  }
}
