.header {
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.title {
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 16px;
  gap: 0.25rem;
}
