.container {
  display: flex;
}

.switch {
  max-width: 52px;
  background-color: var(--color-background);
  color: var(--color-text);
  max-height: calc(100vh - var(--push-height));
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .switch {
    max-height: calc(100dvh - var(--push-height));
  }
}

.switch:hover {
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.switch:hover::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.switch .item {
  color: white;
  background: black;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: 0.5rem;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.1s ease background;

  &:hover {
    opacity: 0.75;
  }
}

.navbar {
  background-color: var(--color-background);
  color: var(--color-text);
  max-height: calc(100vh - var(--push-height) - 32px);
  min-height: calc(100vh - var(--push-height) - 32px);
  overflow-y: hidden;
  width: 200px;
  padding: 0.5rem 0 0;
  scrollbar-gutter: stable;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
}

.navbar:hover {
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

@media screen and (max-width: 1023px) {
  .navbar {
    max-height: calc(100dvh - var(--push-height));
    min-height: calc(100dvh - var(--push-height));
  }
}

.navbar::-webkit-scrollbar {
  width: 0.5rem;
}

.navbar::-webkit-scrollbar-track {
  background: transparent;
}

.navbar::-webkit-scrollbar-thumb {
  background: var(--color-gray-300);
  border-radius: 0.25rem;
}

.navbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}

.animation {
  opacity: 1;
  width: 200px;
  transition: width 0.1s ease, opacity 0.1s ease;
}

.animation.collapsed {
  width: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.label {
  cursor: pointer;
}

.label:hover {
  background: var(--color-gray-50);
  color: var(--color-gray-900);
}

.toast {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.channel {
  color: var(--color-blue-400);
}

.icon {
  cursor: pointer;
}
