.item {
  align-items: center;
  color: var(--color-text);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  gap: 0.25rem;
  line-height: 1.25rem;
  font-weight: 500;

  padding: 0.3rem 0.5rem;
  margin: 0.25rem 0;
  transition: 0.1s ease color, 0.1s ease background;

  &:hover {
    background: var(--color-gray-50);
    color: var(--color-gray-900);
  }
}

.item:first-child {
  margin: 0 0 0.25rem;
}

.active,
.active:hover {
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
}

.highlighted,
.highlighted:hover {
  color: var(--color-text-bold);
  font-weight: 800;
}

@media screen and (max-width: 1023px) {
  .item {
    border-radius: 0;
    margin: 0;
  }
}
