.header {
  padding: 1rem;
}

.title {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  gap: 0.25rem;
}

.subtitle {
  color: var(--color-gray-700);
  font-size: 0.75rem;
  line-height: 1rem;
}
