.flex {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.item {
  display: block;
  flex-grow: 1;
}

.justify {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.user {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.archive {
  font-size: 12px;
  transition: opacity 0.1s ease-in;
  opacity: 0;
  pointer-events: none;
}

.item:hover .archive {
  opacity: 1;
  pointer-events: all;
}

.cursorPointer {
  cursor: pointer;
}

.flexDiv {
  display: flex;
}
