.label {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  justify-content: center;
  background: var(--color-blue-700);
  color: white;
  font-weight: 500;
  gap: 0.25rem;
  -webkit-font-smoothing: antialiased;
  transition: background 0.2s ease, color 0.2s ease;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;

  &:focus-visible,
  &:hover {
    background: var(--color-blue-800);
  }
}

.input {
  display: none;
}

.disabled {
  background: var(--color-gray-200);
  color: var(--color-text);
  cursor: not-allowed;
}