.container {
  background: var(--color-background);
  color: var(--color-text);
  max-height: calc(100vh - 54px);
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.favicon {
  background-color: var(--color-background);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 0.5rem;
  border: 1px solid var(--color-border);
  width: 34px;
  height: 34px;
  padding: 8px;
}

.p3 {
  padding: 0.75rem /* 12px */;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.my5 {
  margin-top: 1.25rem /* 20px */;
  margin-bottom: 1.25rem /* 20px */;
}

.mb5 {
  margin-bottom: 1.25rem /* 20px */;
}
