@import '@linen/styles/colors.scss';

.container {
  align-items: center;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  box-shadow: 0 1px 2px $color-border;
  display: flex;
  justify-content: space-evenly;
}

.item {
  width: 100%;
}

.list .item {
  width: 50%;
}

.item .inbox {
  margin-bottom: 0;
  padding: 0.5rem;
}
