.code {
  background: #0d1117;
  border: 1px solid #0d1117;
  color: #c9d1d9;
  border-radius: 0.25rem;
  font-family: var(--monospace-font);
  font-size: 12px;
  line-height: 1.3;
  padding: 0.125rem 0.25rem;
  white-space: pre-wrap;
  word-break: break-word;
  display: inline-block;
  letter-spacing: 0;
}
