@import 'styles/colors.scss';

.container {
  min-height: 100vh;
}

.main {
  display: flex;
  width: 100%;
}

.nav {
  background: $color-white;
  border-right: 1px solid $color-border;
  min-height: calc(100vh - 105px);
  overflow: hidden;
  width: 200px;
  padding: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
