.header {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
}

.description {
  color: var(--color-gray-700);
  margin-bottom: 1.25rem;
  font-size: 0.75rem;
}

.buttons {
  text-align: right;
}
