.link {
  display: flex;
  margin: 1rem auto 0;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  padding-right: 1rem;
}

.link img {
  display: inline-block;
}
