# Postgres superuser and default database data variables (required for docker-compose.yml)
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_HOST=localhost
DB_PORT=5432

# Database for development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

NEXT_PUBLIC_SLACK_CLIENT_ID=""
SLACK_CLIENT_SECRET=""
NEXTAUTH_SECRET=
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=

COMPANY_SLACK_CLIENT_ID=
COMPANY_SLACK_CLIENT_SECRET=
COMPANY_SLACK_BOT_TOKEN=

LONG_RUNNING=

EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=

# used for testing in development
NEXT_PUBLIC_REDIRECT_URI=https://linen-YOURNAME.ngrok.io/api/oauth

SYNC_URL=

NEXT_PUBLIC_DISCORD_REDIRECT_URI=https://XXXXXngrok.io/api/discordOauth
NEXT_PUBLIC_DISCORD_CLIENT_ID=
DISCORD_TOKEN=
DISCORD_CLIENT_SECRET=

NEXT_PUBLIC_DISCORD_CLIENT_ID_2=
DISCORD_TOKEN_2=
DISCORD_CLIENT_SECRET_2=

AWS_UPLOADER_AK=
AWS_UPLOADER_SK=

VERCEL_ACCESS_TOKEN=
VERCEL_TEAM_ID=

# Certificate for connecting with DB through SSL (base64 formated)
RDS_CERTIFICATE=

# Settings for uploading assets to S3 bucket (like logos)
S3_UPLOAD_KEY=AAAAAAAAAAAAAAAAAAAA
S3_UPLOAD_SECRET=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
S3_UPLOAD_BUCKET=linen-assets
S3_UPLOAD_REGION=us-east-1

VERCEL_ACCESS_TOKEN=
VERCEL_TEAM_ID=

CACHE_TABLE=cache-???
SKIP_NOTIFICATION=false

NOREPLY_EMAIL=no-reply@linendev.com
SUPPORT_EMAIL=help@linen.dev

# used to encode the pagination cursor
SKIP_ENCODE_CURSOR=false

PUSH_SERVICE_KEY="6JrBC4zOjZw/rUJt+occSHyVDnrxb3p2LhaOlbD8NzSoPGisVRxUbCrTTGW1s07N"
PUSH_SERVICE_URL="http://localhost:4000"
NEXT_PUBLIC_PUSH_SERVICE_URL="ws://localhost:4000"
# to avoid redirect on local environment
SKIP_REDIRECT="true"
NEXT_PUBLIC_SKIP_POSTHOG="true"

# endpoint used on the push service to validate session and permissions
AUTH_SERVICE_URL="http://localhost"

# For sending and setting up onboarding emails
CUSTOMER_IO_SITE_ID=1234abcd5678efgh
CUSTOMER_IO_API_KEY=1234abcd5678efgh

AUTH_GITHUB_ID=1234
AUTH_GITHUB_SECRET=1234

INTERNAL_API_KEY=string
GITHUB_APP_ID=number
GITHUB_PRIVATE_KEY=string
GITHUB_WEBHOOK_SECRET=string
BOT_SENDER_ID=number
BOT_SENDER_LOGIN=string

EMAIL_BRIDGE_HOST=string
EMAIL_BRIDGE_USER=string
EMAIL_BRIDGE_PASS=string

LINEAR_CLIENT_ID=string
LINEAR_CLIENT_SECRET=string

LINEN_STATIC_CDN=https://hostname

STRIPE_API_KEY=