.li {
  background: var(--color-background);
  border: 1px solid var(--color-background);
  color: var(--color-text);
}
.li.active {
  border-top: 1px solid var(--color-gray-100);
  border-bottom: 1px solid var(--color-gray-100);
}

.mouse {
  .li:hover {
    background: var(--color-gray-50);
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
      background: var(--color-gray-100);
    }
  }
}

.line {
  margin-top: -0.75rem;
  position: absolute;
  width: 100%;
  z-index: 2;
}
