@import '@linen/styles/colors.scss';

.section {
  cursor: pointer;
  border-top: 1px solid $color-border;
  margin-top: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.section:hover {
  background: $color-gray-50;
}
