.reaction {
  background-color: var(--color-gray-50);
  border: 1px solid var(--color-gray-200);
  border-radius: 1rem;
  color: var(--color-gray-700);
  display: inline-block;
  padding: 0.05rem 0.5rem;
  font-size: 0.75rem;
}

.active {
  background-color: rgba(var(--color-tertiary), 0.1);
  border-color: var(--color-secondary);
}

.reaction + .reaction {
  margin-left: 0.25rem;
}
