.grid {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.grid small {
  font-size: 0.8rem;
}

.left {
  display: none;
  position: relative;
}

.right {
  display: none;
  position: relative;
}

.center {
  background: var(--color-background);
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .center {
    width: 600px;
    border-left: 1px solid var(--color-gray-100);
    border-right: 1px solid var(--color-gray-100);
  }
}

.logo {
  display: none;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  height: 96px;
  background: var(--color-gray-50);
  border-radius: 4px;
  gap: 0.375rem;
  position: relative;
}
.logo small {
  position: relative;
  top: -8px;
  font-size: 0.675rem;
  color: var(--color-primary);
}
.logo > div {
  height: 25px;
  width: 112px;
  margin: 0;
}

.right .sticky {
  background: var(--color-gray-50);
  border-radius: 4px;
  padding: 1rem;
}

.right .sticky h1,
.right .sticky h2 {
  font-weight: 500;
  font-size: 1rem;
}

.right .sticky h2 {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.right .sticky {
  color: var(--color-gray-700);
}

.link {
  color: var(--color-blue-700);
  cursor: pointer;
  transition: color 0.2s ease;
  font-size: 0.8rem;
}

.link:hover {
  color: var(--color-blue-800);
}

.description {
  display: block;
  border-bottom: 1px solid var(--color-gray-100);
  color: var(--color-gray-700);
  padding: 1rem;
  text-align: center;
}

.menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal {
  padding: 0.7rem 0.5rem;
}

@media screen and (max-width: 1023px) {
  .center .logo {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .left {
    display: inline-block;
    width: 268px;
    min-width: 268px;
    max-width: 268px;
    padding: 1rem;
    text-align: right;
  }
  .left .sticky,
  .right .sticky {
    position: sticky;
    top: 1rem;
    left: 0;
  }
  .left .logo {
    display: flex;
  }
  .center .logo {
    display: none;
  }
  .center {
    display: inline-block;
    padding-top: 1rem;
  }
  .right {
    display: inline-block;
    width: 268px;
    min-width: 268px;
    max-width: 268px;
    padding: 1rem;
  }
  .description {
    display: none;
  }
}

.card img {
  width: 100px;
  height: 25px;
}

.card {
  margin-bottom: 1rem;
}

.card:last-child {
  margin-bottom: 0;
}

.wrapper {
  border-top: 1px solid var(--color-gray-100);
  display: block;
  position: relative;
}

.wrapper:first-child {
  border-top: none;
}

.wrapper:last-child {
  border-bottom: 1px solid var(--color-gray-100);
}

.wrapper:hover {
  background: var(--color-gray-50);
}

.wrapper .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.wrapper .row {
  position: relative;
  pointer-events: none;
  z-index: 1;
}

.wrapper .row a {
  pointer-events: all;
}

.subheader {
  align-items: center;
  display: flex;
  gap: 0;
}

.subheader:hover {
  text-decoration: underline;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.mobileWhatIsLinen {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-gray-100);
}
@media (min-width: 1024px) {
  .mobileWhatIsLinen {
    display: none;
  }
}
