.container {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 52rem;
    margin: 0 auto;
  }
}

.pinned {
  padding-bottom: 0;
}

.header {
  border-bottom: none;
  padding-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .header {
    display: block;
  }
}

.grid > li {
  border: 1px solid var(--color-gray-300);
  border-radius: 0.25rem;
  margin: 0.5rem 1rem;
}

.full {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.suggestions {
  background-color: var(--color-background);
  position: relative;
}

.is-collapsed {
  visibility: hidden !important;
  width: 0% !important;
}

.is-expanded {
  border-left: none !important;
  max-width: 52rem;
  width: 100%;
}

.ulFull > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.ulFull {
  width: 100%;
}
