.container {
  width: 100%;
}

.container h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.content {
  max-width: 52rem;
  min-width: 52rem;
  padding: 1rem;
  margin: 0 auto;
}