@import '../colors.scss';

.th {
  padding: 0.75rem /* 12px */;
  text-align: left;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 600;
  color: $color-gray-900;
}
