@import 'styles/colors.scss';

.container {
  align-items: center;
  display: flex;
  position: relative;
}

.container[draggable='true']:active {
  cursor: grabbing;
}

.content {
  width: 100%;
}

.header {
  font-size: 14px;
  font-weight: 600;
  padding: 0 0 .75rem 0;
}

.footer {
  align-items: center;
  color: $color-gray-600;
  display: flex;
  font-size: 12px;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
