@import '../../../colors.scss';

.container {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.container[draggable='true']:active {
  cursor: grabbing;
}

.header {
  font-size: 14px;
  font-weight: 600;
  padding: 0 0 0.75rem 0;
  word-wrap: break-word;
}

.footer {
  align-items: center;
  display: flex;
  font-size: 12px;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.list {
  color: $color-gray-600;
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.info {
  align-items: center;
  display: flex;
  gap: 0.125rem;
}
