.message {
  font-size: 14px;
  line-height: 1.55;
  -webkit-font-smoothing: antialiased;
}

.message + .message {
  margin-top: 8px;
}

.code {
  font-family: monospace;
  font-size: 12px;
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
}
