.header {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 0.75rem 0;
  padding: 0;
}

.header.reply {
  margin: 0 0 0.5rem 0;
}

.header .line {
  height: 8px;
  width: 38px;
  border-top-left-radius: 4px;
  border-top: 1px solid var(--color-gray-200);
  border-left: 1px solid var(--color-gray-200);
  margin-top: 7px;
}

.header .info {
  align-items: center;
  color: var(--color-gray-600);
  display: inline-flex;
  font-size: 12px;
  font-weight: normal;
  gap: 0.5rem;
}

.header .title {
  word-wrap: break-word;
}