@import 'styles/colors.scss';

.name {
  align-items: center;
  color: $color-gray-700;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;

  padding: 0.5rem;
  width: 100%;
  margin: 0.25rem 0;
  transition: 0.1s ease-in color, 0.1s ease-in background;
}
.name:hover {
  background: $color-gray-50;
  color: $color-gray-900;
}
.active,
.active:hover {
  background-color: rgb(243 244 246);
  color: $color-gray-900;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .name {
    border-radius: 0;
    margin: 0;
  }
}
