# add git-ignore syntax here of things you don't want copied into docker image

.git
*Dockerfile*
node_modules
npm-debug.log
.next
cdk

# local env files
.env
.env.local
.env.development.local
.env.test
.env.test.local
.env.production.local

dev
.elixir_ls
.husky
.github
.DS_Store
.vscode
docs
apps/push_service