# Postgres superuser and default database data variables (required for docker-compose.yml)
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_HOST=localhost
DB_PORT=5432

# Database for development
DATABASE_URL=postgresql://linendev:linendev@localhost:5432/linendev

# Database for integration test
# DATABASE_URL=postgresql://linentest:linentest@localhost:5432/linentest

SENTRY_DNS=""
NEXT_PUBLIC_SLACK_CLIENT_ID=""
SLACK_CLIENT_SECRET=""
SENTRY_AUTH_TOKEN=""
NEXTAUTH_SECRET=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
NEXT_PUBLIC_POSTHOG_API_KEY=

COMPANY_SLACK_CLIENT_ID=
COMPANY_SLACK_CLIENT_SECRET=
COMPANY_SLACK_BOT_TOKEN=

SKIP_CACHING_ON_BUILD_STEP=true

EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=

# used for testing in development
NEXT_PUBLIC_REDIRECT_URI=https://linen-YOURNAME.ngrok.io/api/oauth

SYNC_URL=