@import '../colors.scss';

.container {
  display: block;
  position: relative;
  width: 100%;
}

.container + .container {
  margin-top: 1rem;
}

.select {
  appearance: none;
  background-color: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23374151' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 2.5rem;
  border-width: 1px;
  border-radius: 0.5rem;
  border-color: #e5e7eb;
  min-width: 96px;
  width: 100%;
  display: block;
  line-height: 18px;
  transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.select:focus {
  outline: none;
  border-color: #0070f3;
}

.icon {
  align-items: center;
  color: #000000;
  display: flex;
  height: 36px;
  left: 0;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 36px;
  z-index: 1;
}

.icon + .select {
  padding-left: 32px;
}

.disabled .select {
  cursor: not-allowed;
}

.blue .select {
  background-color: #1149e0;
  border-color: #1149e0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  color: white;
  font-weight: 500;
}

.blue .select:hover,
.blue .select:focus {
  background-color: #193cb7;
  border-color: #193cb7;
}

.blue .icon {
  color: white;
}

.gray .select {
  background-color: $color-gray-100;
  border-color: $color-gray-100;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  color: black;
  font-weight: 500;
}

.gray .select:hover {
  background-color: $color-gray-200;
  border-color: $color-gray-200;
}

.gray .icon {
  color: black;
}

.disabled .icon {
  color: $color-gray-400;
}

.disabled.blue .icon {
  color: white;
}
