.container {
  margin: 0 auto;
  width: 26rem;
}

.header {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.right {
  text-align: center;
}

.description {
  color: var(--color-gray-700);
}

@media screen and (max-width: 1023px) {
  .container {
    width: 100%;
  }
}

.logo {
  background-image: url(https://linen.dev/images/logo/linen.png);
  margin: 0 auto 1rem;
  width: 133px;
  height: 30px;
  background-size: contain;
}

@media (prefers-color-scheme: dark) {
  .logo {
    background-image: url(https://linen.dev/images/logo/white/linen.svg);
  }
}