.code {
  margin: 0;
  padding: 0;
}

.pre {
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
}

.code,
.pre {
  background: #0d1117;
  border: none;
  color: #c9d1d9;
  cursor: copy;
  font-size: 13px;
  font-family: var(--monospace-font);
  white-space: pre-wrap;
  word-break: break-word;
  letter-spacing: 0;
  outline: none;
}

.pre.inline {
  display: inline-block;
  vertical-align: baseline;
}

.pre.block {
  display: block;
}