.code {
  margin: 0;
  padding: 0;
}

.pre {
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
}

.code,
.pre {
  background: #f1f5f9;
  border: none;
  color: #0f172a;
  cursor: copy;
  font-size: 13px;
  font-family: var(--monospace-font);
  white-space: pre-wrap;
  word-break: break-word;
  letter-spacing: 0;
  outline: none;
}
@media (prefers-color-scheme: dark) {
  .code,
  .pre {
    background: #1e293b;
    color: #c9d1d9;
  }
}

.pre.inline {
  display: inline-block;
  vertical-align: baseline;
}

.pre.block {
  display: block;
}