.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
}

.push {
  height: 64px;
}

@media (min-width: 1024px) {
  .content {
    padding: 0 20px 0 0;
  }
}
