.link {
  align-items: center;
  color: var(--color-indigo-700);
  cursor: pointer;
  display: flex;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.icon {
  display: inline-block;
  margin-right: 4px;
}
