@import '../colors.scss';

.icon {
  background: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-gray-700;
  cursor: pointer;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  transition: background 0.1s ease-in, color 0.1s ease-in, box-shadow 0.2s ease-in;
  position: relative;
  box-shadow: 0 -2px 4px transparent;
}

.icon:hover {
  background: $color-gray-50;
  color: black;
  box-shadow: 0 2px 4px $color-gray-200;
}

.sm {
  height: 28px;
  width: 28px;
  font-size: 14px;
}