.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 54px;
}

.push {
  height: 54px;
}

.container {
  display: flex;
  scrollbar-gutter: auto;
  overflow: auto;
  width: 100%;
  justify-content: center;
  height: calc(100dvh - 54px);
}

.container::-webkit-scrollbar {
  width: 0.5rem;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background: var(--color-gray-300);
  border-radius: 0.25rem;
}

.container::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}

@media (min-width: 1024px) {
  .content {
    padding: 0 20px 0 0;
  }
}
