@import '../../colors.scss';

.label {
  cursor: pointer;
}

.row {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.input {
  display: none;
}

.text {
  color: $color-gray-700;
  font-size: 12px;
}

.edit {
  color: $color-primary;
  font-size: 12px;
}

.edit:hover {
  text-decoration: underline;
}
