.label {
  cursor: pointer;
}

.row {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.input {
  display: none;
}

.text {
  color: var(--color-gray-700);
  font-size: 12px;
}

.edit {
  color: var(--color-primary);
  font-size: 12px;
}

.edit:hover {
  text-decoration: underline;
}
