.label {
  cursor: pointer;
  margin-bottom: 0;
}

.row {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.row button {
  margin-bottom: 0.25rem;
}

.input {
  display: none;
}

.text {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--color-gray-700);
}