@import '@linen/styles/colors.scss';

.container {
  position: relative;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.form {
  position: relative;
}

.textarea {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.375rem;
  padding-bottom: 2.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-width: 1px;
  border-radius: 0.375rem;
  border-color: $color-input;
  width: 100%;
  display: block;
  line-height: 1.55;
  -webkit-font-smoothing: antialiased;
  transition: 0.2s ease-in border-color;
}

.textarea:focus {
  outline: none;
  border-color: $color-primary;
}

.textarea[hidden] {
  display: none;
}

.toolbar {
  align-items: center;
  display: flex;
  position: absolute;
  gap: 0.5rem;
  bottom: 0.375rem;
  left: 0.625rem;
}

.buttons {
  position: absolute;
  bottom: 0.375rem;
  right: 0.625rem;
}

.buttons button {
  font-size: 12px;
  margin-right: 8px;
  margin-bottom: 0;
  padding: 0.375rem 0.75rem;
}

.buttons button:last-child {
  margin-right: 0;
}
