.titlebar {
  height: var(--titlebar-height);
  user-select: none;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 0.5rem;
  gap: 0.25rem;
}
.titlebar-button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--titlebar-height);
  height: var(--titlebar-height);
  transition: opacity 0.2s ease;
  font-size: 14px;
}

.titlebar-button:hover {
  opacity: 0.75;
}