@import '../../../../colors.scss';

.pagination {
  align-items: center;
  display: flex;
}

.count {
  align-content: center;
  color: $color-gray-700;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  gap: 0.25rem;
  padding: 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
  padding: 0.5rem;
  transition: background, 0.1s ease-in, color 0.1s ease-in, box-shadow 0.2s ease-in;
  box-shadow: 0 -2px 4px transparent;
}

.icon:hover {
  background: $color-gray-50;
  color: black;
  box-shadow: 0 2px 4px $color-gray-200;
}

.icon.disabled {
  color: $color-gray-400;
  cursor: auto;
  box-shadow: none;
}

.icon.disabled:hover {
  background: inherit;
}

@media screen and (max-width: 767px) {
  .count {
    display: none;
  }
}
