@import 'styles/colors.scss';

.navbar {
  background: $color-background;
  border-right: 1px solid $color-border;
  max-height: calc(100vh - 64px);
  overflow: scroll;
  width: 200px;
  padding: 0.5rem 0.5rem;
  transition: filter 0.1s ease-in;
}

.dimmed {
  filter: brightness(90%);
  pointer-events: none;
}
