@import 'styles/colors.scss';
@import 'styles/animations.scss';

.navbar {
  background: $color-background;
  border-right: 1px solid $color-border;
  max-height: calc(100vh - 64px);
  overflow: scroll;
  width: 200px;
  padding: 0.5rem 0.5rem;
}

.item {
  display: block;
}

.dropzone {
  @extend .animated-stripped-background;
  animation-duration: 5s;
}
