.container {
  background: var(--color-background);
  color: var(--color-text);
  max-height: calc(100vh - 54px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.favicon {
  background-color: var(--color-background);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 0.5rem;
  border: 1px solid var(--color-border);
  width: 34px;
  height: 34px;
  padding: 8px;
}