version: '3.9'

services:
  db:
    image: postgres:13
    container_name: linendev_postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_PORT=5432
      - PGDATA=/var/lib/postgresql/data/pgdata
      - APP_DB=linendev,linentest
    volumes:
      - pgdata:/var/lib/postgresql/data/pgdata
      - ./postgres/initdb:/docker-entrypoint-initdb.d
    network_mode: bridge

  web:
    container_name: web
    profiles: ['apps']
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        - MODULE=@linen/web
    restart: always
    volumes:
      - .:/usr/src/app
      - ./usr/src/app/node_modules
    ports:
      - 3000:3000
    env_file:
      - .env
    environment:
      - PORT=3000
      - DATABASE_URL=postgresql://postgres:postgres@host.docker.internal:5432/postgres
    depends_on:
      - db
    network_mode: bridge
    command: sh -c "cd apps/web && npm run start"

volumes:
  pgdata:
