@import '@linen/styles/colors.scss';

.card {
  border: 1px solid $color-gray-200;
  padding: 31px;
  border-radius: 16px;
  text-align: left;
  min-height: 540px;
  box-sizing: border-box;
  display: inline-block;
  padding: 32px;
  position: relative;
  width: 100%;
  background-color: white;
}

.card.active {
  border: 2px solid $color-primary;
  padding: 30px;
}

.title {
  color: $color-gray-900;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  color: $color-gray-600;
  margin: 1rem 0 0;
  font-size: 0.875rem;
}

.price {
  font-weight: 700;
  letter-spacing: -0.3px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.price .length {
  color: $color-gray-600;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: initial;
  margin-left: 0.25rem;
  font-size: 0.875rem;
}
