.container {
  padding: 0;
  margin: 0;
  align-items: center;
  background: linear-gradient(#1e3a8a, #4c1d95);
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  user-select: none;
}
.logo {
  margin-bottom: 24px;
}
.input {
  background-color: transparent;
  background: white;
  border: none;
  font-size: 14px;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  outline: none;
  width: 172px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input::placeholder {
  color: rgba(black, 0.5);
}
