.votes {
  align-self: stretch;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: var(--color-text);
  font-weight: 600;
  font-size: 12px;
  height: 26px;
  background: var(--color-gray-100);
  border-radius: 9999px;
  padding: 0 0.25rem;
}
.votes .count {
  padding: 0 0.375rem;
}

.votes .icon {
  cursor: pointer;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: border-color 0.2s ease;
  border-radius: 9999px;
}

.votes .icon.active:first-child {
  stroke: var(--color-green-500);
}

.votes .icon.active:last-child {
  stroke: var(--color-red-500);
}

.votes .icon:hover {
  border: 1px solid var(--color-gray-300);
}