@import 'styles/colors.scss';

.li {
  border-top: 1px solid $color-border;
}

.li:first-child {
  border-top: 0;
}

.li:hover {
  background: $color-gray-50;
  cursor: pointer;
  width: 100%;
}

.row {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
