.badge {
  align-items: center;
  background: var(--color-indigo-100);
  border-radius: 9999px;
  color: var(--color-indigo-800);
  display: inline-flex;
  gap: 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.125rem 0.625rem;
  transition: background 0.2s ease, color 0.2s ease;
}

.badge svg {
  color: var(--color-indigo-800);
  transition: color 0.2s ease;
}

.success {
  background-color: var(--color-green-500);
  color: white;
}

.success svg {
  color: white;
}

.action {
  cursor: pointer;
}

.action:hover {
  background: var(--color-indigo-800);
  color: var(--color-background);
}

.action:hover svg {
  color: var(--color-background);
}