.group {
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-200);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0.125rem;
}

.group button {
  margin-left: 8px;
  margin-bottom: 0;
  margin-top: 0;
}

.group button:first-child {
  margin-left: 0;
}
