.link {
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-width: 36px;
  width: 36px;
  height: 36px;
  margin: 0.5rem;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.1s ease opacity;
  overflow: hidden;

  &:hover {
    opacity: 0.75;
  }
}

.selected {
  border: 2px solid var(--color-background);
  outline: var(--color-text) solid 2px;
}
