@import 'styles/colors.scss';

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.icons {
  display: flex;
  flex-direction: row;
  position: relative;
}

.icon {
  background: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-gray-700;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  transition: 0.1s ease-in background, 0.1s ease-in color;
  position: relative;
}

.icon:hover {
  background: $color-gray-50;
  color: $color-gray-900;
}

.expand {
  cursor: pointer;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}

@media screen and (max-width: 767px) {
  .close {
    display: none;
  }
}
