.container {
  position: relative;
}

.chat {
  background: var(--color-background);
  border-top: 1px solid var(--color-border);
  padding: 1rem;
}

.wrap {
  position: absolute;
  width: 100%;
}

.wrapBtn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

.form {
  position: relative;
}

.textarea {
  background: var(--color-background);
  color: var(--color-text);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.375rem;
  padding-bottom: 2.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-width: 1px;
  border-radius: 0.375rem;
  border-color: var(--color-input);
  width: 100%;
  display: block;
  line-height: 1.55;
  -webkit-font-smoothing: antialiased;
  transition: 0.2s ease border-color;
  opacity: 0.5;
  resize: none;
}

.buttons {
  position: absolute;
  bottom: 0.375rem;
  right: 0.625rem;
  opacity: 0.5;
}

.buttons button {
  font-size: 12px;
  margin-right: 8px;
  margin-bottom: 0;
  padding: 0.375rem 0.75rem;
}

.buttons button:last-child {
  margin-right: 0;
}
