.message {
  font-size: 14px;
  line-height: 1.55;
  white-space: pre-wrap;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
}

.message + .message {
  margin-top: 8px;
}

@media screen and (min-width: 1024px) {
  .message {
    min-width: 224px;
  }
}

.italic {
  font-style: italic;
}

.truncate {
  mask-image: linear-gradient(180deg, #fff 50%, transparent);
  max-height: 320px;
  overflow: hidden;
}