@import 'styles/colors.scss';

.right {
  background: white;
  border-left: 1px solid $color-border;
  display: flex;
  flex-direction: column;
  transition: filter 0.1s ease-in;
}

.right.dimmed {
  filter: brightness(90%);
  pointer-events: none;
}

.right.dimmed .content * {
  filter: brightness(100%);
}
