@import 'styles/colors.scss';

.container {
  align-items: center;
  display: flex;
  position: relative;
  padding: 1rem;
}

.over {
  background: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 8px,
    $color-gray-100 8px,
    $color-gray-100 16px
  );
  cursor: move;
}

.over * {
  pointer-events: none;
}

.content {
  width: 100%;
}
