@import 'styles/colors.scss';

.container {
  align-items: center;
  display: flex;
  position: relative;
  padding: 1rem 0;
}

.container[draggable='true']:active {
  cursor: grabbing;
}

.content {
  width: 100%;
}

.header {
  background: $color-gray-100;
  border-bottom: 1px solid $color-border;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: -1rem;
  padding: 0.5rem 1rem;
}

.footer {
  align-items: center;
  color: $color-gray-600;
  display: flex;
  font-size: 12px;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
