.open {
  font-size: 24px;
}

.content {
  padding: 1rem;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.text,
.subheader {
  color: var(--color-gray-500);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.subheader {
  margin-bottom: 0.5rem;
}

.close {
  color: var(--color-text);
  font-size: 24px;
}

.list {
  display: block;
  width: 100%;
  min-width: 256px;
}

.link {
  align-items: center;
  color: var(--color-gray-700);
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  outline: none;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.link.active {
  text-decoration: underline;
}
