.actions {
  cursor: pointer;
  display: flex;
  padding: 0;
}

.tooltip {
  display: block;
  padding: 0.375rem;
}

.actions li:hover {
  background: var(--color-gray-50);
  border-radius: 4px;
}

.active {
  color: var(--color-secondary);
}
