@import '@linen/styles/colors.scss';

.actions {
  cursor: pointer;
  display: flex;
  padding: 0;
}

.tooltip {
  display: block;
  padding: 0.375rem;
}

.actions li:hover {
  background: $color-gray-50;
  border-radius: 4px;
}

.active {
  color: $color-secondary;
}
