@import '@linen/styles/colors.scss';

.label {
  align-items: center;
  background: rgb(243, 244, 246);
  border-radius: 28px;
  color: $color-gray-700;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 28px;
  justify-content: center;
  line-height: 28px;
  transition: 0.1s ease-in background, 0.1s ease-in color;
  width: 28px;
}

.label:hover {
  background: $color-gray-200;
  color: $color-gray-900;
}

.input {
  display: none;
}
