.row {
  align-items: center;
  background: var(--color-background);
  display: block;
  padding: 0 1rem;
  position: relative;
}

.row.selected {
  background-color: var(--color-gray-200);
}

.row.active {
  background-color: var(--color-gray-100);
}

.row:hover {
  background-color: var(--color-gray-100);
}

.checkbox {
  margin: 0.75rem;
}

.body {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  padding: 0.75rem 0;
}

.channel {
  font-size: 14px;
}

.channel {
  color: var(--color-gray-500);
}

.row:last-child {
  padding-bottom: 0;
}

.line {
  white-space: nowrap;
  overflow: hidden;
}