@import '@linen/styles/colors.scss';

.spinner-wrapper {
  margin: 0.75rem /* 12px */;
  justify-content: center;
  display: flex;
}

.spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: $color-primary;
  border-left-color: $color-primary;
  border-radius: 50%;
  flex: content;

  -webkit-animation: linen-spinner 400ms linear infinite;
  animation: linen-spinner 400ms linear infinite;
}

@-webkit-keyframes linen-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes linen-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
