@import '../colors.scss';

.modal {
  position: relative;
  z-index: 1000;
}

.overlay {
  background-color: rgba(var(--color-gray-500), 0.75);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
  opacity: 1;
  position: fixed;
  animation: animatedOverlay 0.2s ease;
}

@keyframes animatedOverlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-y: auto;
  position: fixed;
  z-index: 10;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 0;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.content {
  background: var(--color-background);
  color: var(--color-text);
  border-radius: 0.5rem;
  box-shadow: 0px 2px 8px -4px rgba(var(--color-gray-700), 0.5);
  overflow: hidden;
  text-align: left;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding: 1rem;
  position: relative;
  animation: animatedContent 0.1s ease;

  @media (min-width: 640px) {
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 24rem;
    padding: 1.5rem;
    width: 100%;
  }
}

.content.lg {
  @media (min-width: 640px) {
    max-width: 48rem;
    padding: 2rem;
  }
}

.fullscreen {
  border-radius: 0;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


@keyframes animatedOverlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animatedContent {
  from {
    transform: scaleX(0.95) scaleY(0.95);
  }

  to {
    transform: scaleX(1) scaleY(1);
  }
}