@import 'styles/colors.scss';

.image {
  align-items: center;
  background: $color-primary;
  box-shadow: 0 1px 3px #ccc;
  color: white;
  display: flex;
  font-weight: bold;
  left: -999px;
  padding: 1rem;
  position: absolute;
  top: -999px;
}
