.left {
  background: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
  scroll-behavior: auto;
  overscroll-behavior: none;
}

.left::-webkit-scrollbar {
  width: 0.5rem;
}

.left::-webkit-scrollbar-track {
  background: transparent;
}

.left::-webkit-scrollbar-thumb {
  background: var(--color-gray-300);
  border-radius: 0.25rem;
}

.left::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}

.right {
  background: var(--color-background);
  border-left: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;

  @media (max-width: 1023px) {
    border-left: none;
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}
