@import '@linen/styles/colors.scss';

.label {
  display: block;
}

.select select {
  border: none;
  height: 36px;
}

.select.active select {
  background: rgb(243 244 246);
  border-radius: 0;
}

.select.empty select {
  color: #999;
}

@media screen and (max-width: 1023px) {
  .label {
    display: none;
  }
}
