.label {
  align-items: center;
  background: var(--color-gray-100);
  border-radius: 28px;
  color: var(--color-gray-700);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 28px;
  justify-content: center;
  line-height: 28px;
  transition: 0.1s ease-in background, 0.1s ease-in color;
  width: 28px;
}

.label:hover {
  background: var(--color-gray-200);
  color: var(--color-gray-900);
}

.input {
  display: none;
}
