@import '@linen/styles/colors.scss';

.join {
  align-items: center;
  color: $color-indigo-700;
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 500;
}

.join:hover {
  text-decoration: underline;
}

.icon {
  display: inline-block;
  margin-right: 4px;
}
