@import 'styles/colors.scss';

.label {
  align-items: center;
  color: rgb(75 85 99);
  border-radius: 0.5rem;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;

  padding: 0.5rem;
  width: 100%;
  transition: 0.1s ease-in color, 0.1s ease-in background;
}
