.group {
  display: flex;
  justify-content: left;
  align-items: center;
}

.placeholder {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  text-align: center;
  text-transform: lowercase;
  line-height: 32px;
  background-color: var(--color-gray-100);
  color: var(--color-gray-700);
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 1px 2px #ccc;
}

.sm {
  width: 26px;
  min-width: 26px;
  height: 26px;
  line-height: 26px;
  border: none;
  font-size: 12px;
  font-weight: 500;
}

.lg {
  width: 38px;
  min-width: 38px;
  height: 38px;
  line-height: 38px;
  border: none;
}

.item + .item {
  margin-left: 2px;
}
