.link {
  border-radius: 32px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.375rem 1.5rem;
  transition: background 0.2s ease-in, color 0.2s ease-in, border 0.2s ease-in;
}