.li {
  background: var(--color-background);
  color: var(--color-text);
  display: flex;
}

.mouse {
  .li:hover {
    background: var(--color-gray-50);
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
      background: var(--color-gray-100);
    }
  }
}

.line {
  margin-top: -0.75rem;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.padded {
  margin-left: 1rem;
  border-left: 1px solid var(--color-gray-200);
}

.padding-top {
  padding-top: 0.5rem;
}

.padding-bottom {
  padding-bottom: 0.5rem;
}

.padding-left {
  padding-left: 0.75rem;
}
