.li {
  background: var(--color-background);
  color: var(--color-text);
  display: flex;
}

.mouse {
  .li:hover {
    background: var(--color-gray-50);
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
      background: var(--color-gray-100);
    }
  }
}

.line {
  margin-top: -0.75rem;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.first {
  padding-top: 1rem;
}

.last {
  padding-bottom: 1rem;
}

.padded {
  padding-left: 2rem;
}