.attachment {
  align-items: center;
  background-color: var(--color-gray-50);
  border: 1px solid var(--color-gray-200);
  border-radius: 1rem;
  color: var(--color-gray-700);
  display: inline-flex;
  padding: 0.05rem 0.5rem;
  font-size: 0.75rem;
}

.attachment + .attachment {
  margin-left: 0.25rem;
}

.icon {
  margin-right: 0.25rem;
}
