.threadContainer {
  min-height: 0;
}

.row {
  padding: 0.5rem 0;
}

.view {
  width: 100%;
  overflow: hidden auto;
  height: 80vh;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0.1rem 0.5rem;
}

.list {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
}

@media (max-width: 767px) {
  .hideOnMobile {
    display: none;
  }
}
