
.header {
  display: flex;
  align-items: center;;
  height: 20vh;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.left {
  align-items: center;
  display: flex;
  gap: 4rem;
}

.left img {
  height: 28px;
  width: 126px;
}

.right {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.links {
  display: flex;
  gap: 0.5rem;
}

.link {
  background: transparent;
  border: 1px solid transparent;
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.1s ease-in, border-color 0.1s ease-in, color 0.1s ease-in;
  letter-spacing: 0.5px;
  border-radius: 9999px;
  white-space: nowrap;
}

.link:hover {
  border-color: #f3f4f6;
  background: #f3f4f6;
}

.button {
  background: #9333ea;
  border-radius: 9999px;
  color: white;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background 0.1s ease-in;
}

.button:hover {
  background: #a855f7;
}

.section {
  height: 100vh;
  position: relative;
}

.clouds:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('/images/clouds.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  z-index: -1;
  animation: opacity-animation 1s ease-in;
  opacity: 1;
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  letter-spacing: -.025em;
  max-width: 52rem;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.description {
  color: #374151;
  font-size: 1.125rem;
  line-height: 2rem;
  max-width: 44rem;
  letter-spacing: -.025em;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  margin-top: 1.5rem;
}

.highlight {
  color: #9333ea;
  white-space: nowrap;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  padding: 0 1rem;
}

.footer {
  display: flex;
  align-items: center;;
  height: 20vh;
}

.buttons {
  align-content: center;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2.5rem
}

.black {
  color: #fff;
  border: 1px solid black;
  background: black;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.1s ease-in;

  white-space: nowrap;
}

.black:hover {
  opacity: 0.8;
}

.white {
  border: 1px solid #e5e7eb;
  color: #000;

  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  transition: opacity 0.1s ease-in;
  border-radius: 9999px;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  transition: border-color 0.1s ease-in, color 0.1s ease-in, background-color 0.1s ease-in;

  white-space: nowrap;
}

.white:hover {
  background-color: #f3f4f6;
  border-color: #f3f4f6;
}

.sign-up:hover {
  background: #a855f7;
  border-color: #a855f7;
  color: white;
}

.get-started {
  background: #9333ea;
  border-color: #9333ea;
}

.letter1,
.letter2,
.letter3,
.letter4,
.letter5,
.letter6,
.letter7,
.letter8,
.letter9,
.letter10,
.letter11,
.letter12,
.letter13 {
  opacity: 1
}

@keyframes letter-animation {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

.letter1 {
  animation: letter-animation 0.3s ease-in;
}

.letter2 {
  animation: letter-animation 0.6s ease-in;
}

.letter3 {
  animation: letter-animation 0.9s ease-in;
}

.letter4 {
  animation: letter-animation 1.2s ease-in;
}

.letter5 {
  animation: letter-animation 1.5s ease-in;
}

.letter6 {
  animation: letter-animation 1.8s ease-in;
}

.letter7 {
  animation: letter-animation 2.1s ease-in;
}

.letter8 {
  animation: letter-animation 2.4s ease-in;
}

.letter9 {
  animation: letter-animation 2.7s ease-in;
}

.letter10 {
  animation: letter-animation 3s ease-in;
}

.letter11 {
  animation: letter-animation 3.3s ease-in;
}

.letter12 {
  animation: letter-animation 3.6s ease-in;
}

.letter13 {
  animation: letter-animation 3.9s ease-in;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .left {
    gap: 2rem;
  }
  .links {
    gap: 0;
  }
  .link {
    padding: 0.5rem 0.75rem;
  }
  .right {
    gap: 1rem;
  }
  .h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1023px) {
  .links {
    display: none;
  }
  .h1 {
    font-size: 3rem;
  }
  .right {
    gap: 0rem;
  }
  .link {
    padding: 0.5rem 0.75rem;
  }
}

@media screen and (max-width: 767px) {
  .links {
    display: none;
  }
  .h1 {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1rem;
  }
  .right {
    gap: 0rem;
  }
  .link {
    padding: 0.5rem 0.75rem;
  }
  .buttons {
    gap: 1rem;
  }
  .black,
  .white {
    padding: 0.75rem;
  }

  .description {
    display: none;
  }
  .linen-community {
    display: none;
  }
}