@import '@linen/styles/colors.scss';

.container {
  padding: 1rem;
  width: 100%;
}

.resolution {
  background-color: $color-green-50;

  .badge {
    margin-top: 0.25rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 1rem;
  }
}

.row {
  display: flex;
  gap: 0.75rem;
  position: relative;
  width: 100%;
}

.left {
  display: flex;
  min-width: 36px;
  width: 36px;
  justify-content: center;
}

.left .date {
  align-self: center;
  display: flex;
  font-size: 10px;
  white-space: nowrap;
}

.content {
  position: relative;
  width: 100%;
}

.username {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1;
  color: black;
}

.header {
  align-items: center;
  color: $color-gray-600;
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  padding-bottom: 0.25rem;
  gap: 0.5rem;
}

.date {
  color: $color-gray-600;
  font-size: 0.75rem;
}

.message {
  position: relative;
}

.message.top {
  padding: 0;
}

.message.basic {
  padding: 0.25rem 0;
}

.actions {
  display: flex;
  background: white;
  border-radius: 4px;
  border: 1px solid $color-border;
  box-shadow: 0 1px 2px $color-border;
  position: absolute;
  top: -1.625rem;
  right: 1.5rem;
  padding: 0;
}

.top .actions {
  top: 0.25rem;
}

.drag {
  pointer-events: none;
}
