@import 'styles/colors.scss';

.container {
  padding: 1rem;
}

.resolution {
  background-color: $color-green-50;
}

.resolutionLabel {
  font-size: 10px;
  border-radius: 1rem;
  font-weight: bold;
  background-color: $color-green-600;
  color: white;
  margin: 0.5rem 0 0.5rem;
  padding: 0.25rem 0.5rem;
  width: fit-content
}

.row {
  display: flex;
  gap: 0.75rem;
  position: relative;
  width: 100%;
}

.left {
  display: flex;
  min-width: 36px;
  width: 36px;
  justify-content: center;
}

.left .date {
  display: none;
}

.row:hover .left .date {
  align-self: center;
  display: flex;
  font-size: 10px;
  white-space: nowrap;
}

.content {
  position: relative;
  width: 100%;
}

.username {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1;
  color: black;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 0.25rem;
  gap: 0.5rem;
}

.date {
  color: $color-gray-600;
  font-size: 0.75rem;
}

.message {
  position: relative;
}

.message.top {
  padding: 0;
}

.message.basic {
  padding: 0.25rem 0;
}

.message .date {
  display: none;
}

.message:hover .date {
  position: absolute;
  top: 4px;
  left: -3rem;
  display: block;
  font-size: 1px;
  z-index: 1;
}

.actions {
  display: none;
  background: white;
  border-radius: 4px;
  border: 1px solid $color-border;
  box-shadow: 0 1px 2px $color-border;
  position: absolute;
  top: -1.625rem;
  right: 1.5rem;
  padding: 0;
}

.top .actions {
  top: 0.25rem;
}

.container:hover .actions {
  display: flex;
}

.drag {
  pointer-events: none;
}
