.h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.h6 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  margin: 0;
}
