.page {
  background: #f9fafb;
  height: 100vh;
  width: 100%;
  padding-top: 4rem;
}

.header {
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.card {
  background: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  max-width: 28rem;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}

.field {
  margin-bottom: 10px;
}

.link {
  display: flex;
  margin-top: 1rem;
}

.link img {
  display: inline-block;
  margin: 0 auto;
}
