@import 'styles/colors.scss';

.container {
  height: 100%;
}

.pinned {
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}

.full {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  animation-name: opacity-animation;
  animation-duration: 0.15s;
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
