@import '@linen/styles/colors.scss';

.container {
  min-height: 100%;
  height: 100%;
}

.pinned {
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}

.full {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.suggestions {
  position: relative;
}

.is-collapsed {
  visibility: hidden;
  width: 0%;
}

.is-expanded {
  border-left: none;
  max-width: 52rem;
  width: 100%;
}
