@import 'styles/colors.scss';

.container {
  background: white;
  transition: filter 0.1s ease-in;
}

.dimmed {
  filter: brightness(95%);
  pointer-events: none;
}

.thread {
  background: white;
  padding: 1rem 1rem 0;
  max-width: 100%;
  min-width: 480px;
}

.footer {
  clear: both;
  min-height: 20px;
  display: flex;
  padding-bottom: 2rem;
  justify-content: space-between;
}

.chat {
  background: white;
  border-top: 1px solid #e5e7eb;
  bottom: 0;
  padding: 1rem;
  position: sticky;
  width: 100%;
}

@media (max-width: 767px) {
  .thread {
    min-width: 320px;
  }

  .footer {
    min-width: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .footer {
    min-width: 360px;
  }
}

.count {
  font-size: 14px;
}

.subtext {
  color: #495057;
}

.title {
  font-weight: bold;
  padding-bottom: 1rem;
}
