.thread {
  padding: 1rem;
  max-width: 100%;
  min-width: 480px;
}

.footer {
  clear: both;
  min-height: 20px;
  display: flex;
  padding-bottom: 2rem;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .thread {
    min-width: 320px;
  }

  .footer {
    min-width: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .footer {
    min-width: 360px;
  }
}

.count {
  font-size: 14px;
}

.subtext {
  color: #495057;
}

.title {
  font-weight: bold;
  padding-bottom: 1rem;
}
