@import 'styles/colors.scss';

.container {
  background: $color-white;
  min-height: calc(100vh - 64px);
  overflow-y: scroll;
  width: 520px;
}

.container.expanded {
  margin: 0 auto;
  max-width: 52rem;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    min-height: calc(100vh - 102px);
  }
}

.thread {
  background: $color-white;
}

.footer {
  clear: both;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.container.expanded .footer {
  padding-bottom: 0;
}

.chat {
  background: $color-white;
  border-top: 1px solid $color-border;
  bottom: 0;
  padding: 1rem;
  position: sticky;
  width: 100%;
}

.container.expanded .chat {
  border-top: none;
}

@media (max-width: 1023px) {
  .container {
    min-width: 320px;
    width: 100%;
    max-width: 100%;
  }

  .footer {
    min-width: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .footer {
    min-width: 360px;
  }
}

.count {
  font-size: 14px;
}

.views {
  align-items: center;
  justify-content: center;
  display: flex;;
  font-size: 11px;
  text-transform: uppercase;
  color: $color-gray-500;
  font-weight: 500;
  letter-spacing: 1.3px;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid $color-gray-400;
  user-select: none;
}

.views .text {
  background: $color-gray-400;
  color: white;
  padding: 0.125rem 0.375rem 0.125rem 0.5rem;
}

.views .count {
  background: white;
  color: $color-gray-700;
  font-size: 11px;
  font-weight: bold;
  padding: 0.125rem 0.375rem;
}

.title {
  font-weight: bold;
  padding-bottom: 1rem;
}
