.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.channelName {
  opacity: 0.9;
  font-size: 80%;
}

.header {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  min-height: 32px;
}

.icons {
  display: flex;
  flex-direction: row;
  position: relative;
}

.expanded {
  border-bottom: none;
  padding: 0 1rem;
  position: relative;
}

.expand {
  display: flex;
}

.back {
  cursor: pointer;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1023px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
