.button {
  align-items: center;
  background: var(--color-background);
  border: 2px solid var(--color-primary);
  color: var(--color-gray-900);
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;
  margin-top: 1.5rem;
  border-radius: 9999px;
  background: var(--color-background);
  padding: 0.5rem;
  text-align: center;
  font-weight: 500;
  transition: 0.2s ease background, 0.2s ease color;
}

.button.active {
  background: var(--color-primary);
  color: white;
}

.button:hover,
.button.active:hover {
  background: var(--color-blue-800);
  border: 2px solid var(--color-blue-800);
  color: white;
}

.list {
  list-style-type: none;
  margin: 32px 0 0;
  padding: 0;
}

.list li {
  align-items: center;
  color: var(--color-gray-600);
  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}

.list svg {
  color: var(--color-primary);
  min-width: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: 1440px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem;
  }
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem;
  }
}
