.jump {
  bottom: -1px;
  display: block;
  position: absolute;
  left: calc(50% - 24px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease, background 0.1s ease, border 0.1s ease,
    color 0.1s ease;
  z-index: -1;
}

.show {
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}

.icon {
  align-items: center;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  color: var(--color-gray-400);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 14px;
  height: 20px;
  width: 48px;
  padding: 3px;
  transition: opacity 0.1s ease, background 0.1s ease, border 0.1s ease,
    color 0.1s ease;

  &:hover {
    background: var(--color-gray-100);
    color: var(--color-gray-700);
  }
}
