@import 'styles/colors.scss';

.footer {
  border-top: 1px solid $color-border;
  padding: 0.25rem 0;
  text-align: center;
}

.footer a {
  color: $color-gray-400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
}
