@import '@linen/styles/colors.scss';

.logo {
  background-image: url(https://linen.dev/images/logo/white/linen.svg);
  height: 24px;
  width: 108px;
  background-size: contain;
}

.header {
  background: black;
  position: fixed;
  width: 100%;
}

.header .nav {
  align-items: center;
  display: flex;
  height: 54px;
  justify-content: space-between;
}

.header .nav ul {
  display: flex;
  gap: 0.5rem;

  li a {
    background: black;
    border-radius: 9999px;
    border: 1px solid $color-gray-100;
    color: $color-gray-100;
    font-size: 14px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: color 0.2s ease, background 0.2s ease;
  }

  li a:hover {
    background: $color-gray-100;
    color: black;
  }
}

.image {
  display: block;
  height: 24px;
  max-height: 24px;
}

.main {
  padding-top: 64px + 54px;
}

.banner {
  max-width: 320px;
}

.banner .h1 {
  color: var(--color-gray-900);
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 8px;
}

.underscore {
  background-image: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-primary) 100%
  );
  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: 100% 0.125rem;
  padding: 0;
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 1px 2px var(--color-gray-300);
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  transition: box-shadow 0.1s ease;
  gap: 0.5rem;
}

.card > img {
  width: 36px;
  height: 36px;
}

.card:hover {
  box-shadow: 0 1px 4px var(--color-gray-300);
}

.card h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  margin: 0;
  text-transform: uppercase;
}

.card p {
  font-size: 12px;
  color: var(--color-gray-700);
}
