@import '@linen/styles/colors.scss';

.logo {
  background-image: url(https://linen.dev/images/logo/white/linen.svg);
  height: 24px;
  width: 108px;
  background-size: contain;
}

.header {
  background: black;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header .nav {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
}

.header .nav ul {
  display: flex;
  gap: 0.5rem;

  li a {
    background: black;
    border-radius: 9999px;
    border: 1px solid $color-gray-100;
    color: $color-gray-100;
    font-size: 14px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: color 0.2s ease, background 0.2s ease;
  }

  li a:hover {
    background: $color-gray-100;
    color: black;
  }
}

.image {
  display: block;
  height: 24px;
  max-height: 24px;
}

.main {
  padding-top: calc(64px + var(--header-height));
}

.banner {
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}

.banner .h1 {
  color: var(--color-gray-900);
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 8px;
}

.underscore {
  background-image: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-primary) 100%
  );
  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: 100% 0.125rem;
  padding: 0;
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}