@import 'styles/colors.scss';

.li:hover {
  background: $color-gray-50;
  cursor: pointer;
  width: 100%;
}

.row {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.line {
  margin-top: -0.75rem;
  position: absolute;
  width: 100%;
}
