@import 'styles/colors.scss';


.li {
  border: 1px solid white;
  transition: border-color 0.1s ease-in, background 0.1s ease-in;
}
.li.active {
  border: 1px solid $color-gray-100;
}

.mouse {
  .li:hover {
    background: $color-gray-50;

    cursor: pointer;
  }
}

.line {
  margin-top: -0.75rem;
  position: absolute;
  width: 100%;
  z-index: 2;
}
