.container {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.container[draggable='true']:active {
  cursor: grabbing;
}

.header {
  font-size: 14px;
  font-weight: 600;
  padding: 0 0 0.75rem 0;
  word-wrap: break-word;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.check {
  border-radius: 9999px;
  color: var(--color-green-700);
  font-size: 1rem;
}

.footer {
  align-items: center;
  display: flex;
  font-size: 12px;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.list {
  color: var(--color-gray-600);
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.info {
  align-items: center;
  display: flex;
  gap: 0.125rem;
}

.left {
  align-self: stretch;
  align-items: center;
  cursor: normal;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--color-gray-700);
  padding: 0 1rem;
  font-weight: 700;
  font-size: 16px;
}

.left.positive {
  color: var(--color-green-600);
}

.left.negative {
  color: var(--color-red-600);
}

.left .icon {
  cursor: pointer;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: border-color 0.2s ease;
}

.left .icon.active {
  border: 1px solid var(--color-gray-200);
}

.left .icon:hover {
  border: 1px solid var(--color-gray-300);
}