.main {
  display: flex;
  width: 100%;
}


.container {
  display: flex;
  position: relative;
  width: 100%;
}

.container[draggable='true']:active {
  cursor: grabbing;
}

.header {
  align-items: center;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  gap: 0.75rem;
  margin: 0 0 0.75rem 0;
  padding: 0;
  word-wrap: break-word;
}

.check {
  border-radius: 9999px;
  color: var(--color-green-700);
  font-size: 1rem;
}

.footer {
  align-items: center;
  display: flex;
  font-size: 12px;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.list {
  color: var(--color-gray-600);
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.info {
  align-items: center;
  display: flex;
  gap: 0.125rem;
}

.info.signal {
  color: var(--color-red-500);
}