.container {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container[draggable='true']:active {
  cursor: grabbing;
}

.header {
  font-size: 14px;
  font-weight: 600;
  padding: 0 0 0.75rem 0;
  word-wrap: break-word;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.check {
  border-radius: 9999px;
  color: var(--color-green-700);
  font-size: 1rem;
}

.footer {
  align-items: center;
  display: flex;
  font-size: 12px;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.list {
  color: var(--color-gray-600);
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.info {
  align-items: center;
  display: flex;
  gap: 0.125rem;
}

.upvotes {
  color: var(--color-gray-600);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  height: 100%;
}

.upvotes .icon {
  width: 24px;
  height: 24px;
  padding: .25rem;
  font-size: 16px;
  border-radius: .25rem;
  // padding: 1rem;
  // padding-top: .5rem;
  // padding-bottom: .5rem;
  // color: var(--color-blue-600);
  // background-color: var(--color-gray-200);
  // border-radius: .25rem;
  // border-color: var(--color-blue-200);
  // border-style: solid;
  // border-width: 1px;
}

.upvotes .icon:hover {
  // color: var(--color-blue-600);
  background-color: var(--color-gray-200);
  // border-radius: .25rem;
  // border-color: var(--color-blue-200);
  // border-style: solid;
  // border-width: 1px;
}
