.group {
  align-items: center;
  color: var(--color-gray-500);
  border-radius: 0.25rem;
  display: flex;
  font-size: 0.75rem;
  letter-spacing: 1.3px;
  line-height: 1.25rem;
  font-weight: 500;
  justify-content: space-between;
  text-transform: uppercase;;
  user-select: none;

  padding: 0.3rem 0.5rem;
  margin: 0.125rem 0;
  width: 100%;

  transition: color 0.2s ease-in, background 0.2s ease-in;
}

.action {
  cursor: pointer;
}

.action:hover {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}