@import '../../colors.scss';

.list {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.text {
  color: $color-gray-700;
  font-size: 12px;
}

.file {
  background: $color-gray-50;
  border-radius: 1rem;
  color: $color-gray-700;
  cursor: pointer;
  font-size: 12px;
  padding: 0.125rem 0.5rem;
}

.file:hover {
  background: $color-gray-100;
}
