.list {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.text {
  color: var(--color-gray-700);
  font-size: 12px;
}

.file {
  background: var(--color-gray-50);
  border-radius: 1rem;
  color: var(--color-gray-700);
  cursor: pointer;
  font-size: 12px;
  padding: 0 0.5rem;
  line-height: 24px;;
  transition: background 0.2s ease;
}

.file:hover {
  background: var(--color-gray-100);
}
