.container {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 0.75rem;
  position: relative;
}

.header {
  align-items: center;
  display: flex;
  margin-bottom: 0.75rem;
  width: 100%;
}

.text {
  display: flex;
  font-size: 14px;
  margin-left: 0.5rem;
}

.channel {
  position: absolute;
  right: 0.75rem;
}
