.container {
  display: block;
  max-width: 100%;
  position: relative;
}

@media only screen and (min-width: 1440px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
  }
}

@media only screen and (max-width: 1439px) and (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1127px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 933px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 723px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    margin-left: 1em;
    margin-right: 1em;
    width: 100%;
  }
}