.container {
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  padding: 2rem 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.25rem /* 20px */;
  @media (min-width: 640px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card {
  overflow: hidden;
  border-radius: 0.5rem /* 8px */;
  background-color: var(--color-background);
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  padding-top: 1.25rem /* 20px */;
  padding-bottom: 1.25rem /* 20px */;
  box-shadow: var(--color-border) 0px 1px 3px,
    var(--color-border) 0px 20px 25px -5px,
    var(--color-border) 0px 10px 10px -5px;
  border-width: 2px;
  @media (min-width: 640px) {
    padding: 1.5rem /* 24px */;
  }
}

.cardDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;
  color: var(--color-gray-500);
}

.cardValue {
  margin-top: 0.25rem /* 4px */;
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: var(--color-gray-900);
  height: 2.5rem /* 40px */;
}
