@import '../../colors.scss';

.button {
  align-items: center;
  background: $color-primary;
  color: white;
  border-radius: 32px;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.25rem;
  height: 36px;
  line-height: 36px;
  padding: 0 1rem;
  transition: background 0.2s ease;
}

.button:hover {
  background: rgba($color-primary, 0.9);
}
