@import '../../../colors.scss';

.chat {
  background: white;
  border-top: 1px solid $color-border;
  padding: 1rem;
}

.hover {
  background: $color-gray-50;
}

.hover * {
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .chat {
    padding: 0.5rem 1rem;
  }
}
