.container {
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: 100%;
}

.container .input {
  border-radius: 32px;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.25);
  transition: 0.2s ease background-color, 0.2s ease color,
    0.2s ease border-color;
}
