.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: var(--header-height);
}

.push {
  height: var(--push-height);
}

.hiddenLogo {
  visibility: hidden;
}

.visibleLogo {
  visibility: visible;
}
