@import '../../../colors.scss';

.item {
  display: block;
}

.drop {
  background: $color-blue-50;
  border-radius: 4px;
  color: $color-gray-900;
}

.drop > div {
  background: $color-blue-50;
  color: $color-gray-900;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.cursorPointer {
  cursor: pointer;
}

.justify {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.channel {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.archive {
  font-size: 12px;
  transition: opacity 0.1s ease;
  opacity: 0;
  pointer-events: none;
}

.item:hover .archive {
  opacity: 1;
  pointer-events: all;
}