.link {
  display: block;
}

.link:hover .archive {
  opacity: 1;
  pointer-events: all;
}


.drop {
  background: var(--color-blue-50);
  border-radius: 4px;
  color: var(--color-gray-900);
}

.drop > div {
  background: var(--color-blue-50);
  color: var(--color-gray-900);
}


@media (prefers-color-scheme: dark) {
  .drop {
    background-color: var(--color-blue-900) !important;
  }

  .drop > div {
    background-color: var(--color-blue-900) !important;
  }
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.cursorPointer {
  cursor: pointer;
}

.item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.item .icon {
  display: none;
}

.item:hover .icon {
  display: block;
}

.channel {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.channel::before {
  background-color: var(--color-text);
  content: '';
  mask-size: contain;
  width: 14px;
  height: 14px;
}

.channel.lock::before {
  mask-image: url('https://www.linen.dev/icons/lock.svg');
}

.channel.hash::before {
  mask-image: url('https://www.linen.dev/icons/hash.svg');
}

.archive {
  font-size: 12px;
  transition: opacity 0.1s ease;
  opacity: 0;
  pointer-events: none;
}