@import '../../../colors.scss';

.item {
  display: block;
}

.drop {
  background: $color-blue-50;
  border-radius: 4px;
  color: $color-gray-900;
}

.drop > div {
  background: $color-blue-50;
  color: $color-gray-900;
}

.flex {
  display: flex;
  gap: 0.5rem;
}
