.item {
  display: block;
}

.drop {
  background: var(--color-blue-50);
  border-radius: 4px;
  color: var(--color-gray-900);
}

.drop > div {
  background: var(--color-blue-50);
  color: var(--color-gray-900);
}


@media (prefers-color-scheme: dark) {
  .drop {
    background-color: var(--color-blue-900) !important;
  }

  .drop > div {
    background-color: var(--color-blue-900) !important;
  }
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.cursorPointer {
  cursor: pointer;
}

.justify {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.channel {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.archive {
  font-size: 12px;
  transition: opacity 0.1s ease;
  opacity: 0;
  pointer-events: none;
}

.item:hover .archive {
  opacity: 1;
  pointer-events: all;
}
