.container {
  background: var(--color-gray-50);
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.community {
  min-width: 320px;
  margin-bottom: 1rem;
}

.card {
  background: var(--color-background);
  box-sizing: border-box;
  min-width: 320px;
  width: 320px;
  padding: 1rem;
  text-align: center;
}

.card p {
  color: var(--color-gray-700);
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.card p strong {
  color: var(--color-gray-900);
  font-size: 1.75rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .community {
    min-width: 364px;
    width: 364px;
  }
  .card {
    min-width: 364px;
    width: 364px;
    padding: 2rem;
  }
}

.count {
  align-items: center;
  display: inline-flex;
  gap: 0.25rem;
  justify-content: center;
}