@import '../../../colors.scss';

.image,
.placeholder {
  background-color: white;
  border: 1px solid $color-gray-200;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 200px;
  width: 200px;
  max-width: 200px;
  max-height: 200px;
  padding: 8px;
  object-fit: scale-down;
}