.image {
  background-color: var(--color-background);
  border: 1px solid var(--color-gray-200);
  border-radius: 4px;
  cursor: zoom-in;
  display: inline-block;
  padding: 8px;
  object-fit: scale-down;
}

.static {
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  height: 200px;
  max-height: 200px;
  min-height: 200px;
}