@import 'styles/colors.scss';

.header {
  background: $color-black;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 1rem;
  justify-content: space-between;
}

.logo {
  height: 32px;
}

.avatar {
  cursor: pointer;
}
