.card {
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--color-gray-200);
  cursor: pointer;
  display: flex;
  padding: 1rem;
  transition: box-shadow 0.1s ease;
  gap: 0.5rem;
  min-height: 96px;
  transition: border 0.2s ease;
}

.card > img {
  width: 36px;
  height: 36px;
}

.card:hover {
  border: 1px solid var(--color-gray-300);
}

.card h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  margin: 0;
  text-transform: uppercase;
}

.card p {
  font-size: 12px;
  color: var(--color-gray-700);
}
