@import '../colors.scss';

.tooltip {
  background-color: black;
  border-radius: 2px;
  box-shadow: 0 2px 4px $color-gray-200;
  color: white;
  font-size: 12px;
  font-weight: 600;
  opacity: 1;
  padding: 6px 8px;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
  width: auto;
  z-index: 10;
}

.top {
  transform: translateX(-50%);
}

.right {
  transform: translateY(3px);
}
