.icon {
  margin: 0 auto;
  color: var(--color-gray-900);
  font-size: 6rem;
  margin-bottom: 1rem;
}

.logo {
  background-image: url(https://linen.dev/images/logo/linen.png);
  margin: 0 auto 1rem;
  width: 133px;
  height: 30px;
  background-size: contain;
}

@media (prefers-color-scheme: dark) {
  .logo {
    background-image: url(https://linen.dev/images/logo/white/linen.svg);
  }
}

.header {
  color: var(--color-gray-500);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1.3px;
  margin-bottom: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.list + .list {
  margin-top: 1rem;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  align-items: center;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.25rem;
  display: flex;
}
