.name {
  cursor: pointer;
  font-size: 14px;
  font-weight: 450;

  padding: 0.5rem 1rem;
  width: 100%;
}
.name:hover {
  background: white;
}
.active {
  background-color: white;
  font-weight: 700;
}

.highlighted::before {
  content: '! ';
  font-weight: 900;
}
