.code {
  background: var(--color-gray-100);
  border-radius: 0.25rem;
  border-color: var(--color-gray-200);
  color: var(--color-gray-800);
  font-family: monospace;
  font-size: 12px;
  line-height: 1.3;
  padding: 0.125rem 0.25rem;
  white-space: pre-wrap;
  word-break: break-word;
}

.block {
  display: block;
}
