@import '@linen/styles/colors.scss';

.container {
  padding: 0 0 1rem 0;
}

.row {
  display: flex;
  gap: 0.75rem;
  position: relative;
  width: 100%;
}

.left {
  display: flex;
  min-width: 36px;
  width: 36px;
  justify-content: center;
}

.content {
  position: relative;
  width: 100%;
}

.username {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1;
  color: black;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 0.25rem;
  gap: 0.5rem;
}

.date {
  color: $color-gray-600;
  font-size: 0.75rem;
}

.message {
  padding: 0;
  position: relative;
}

.message .date {
  display: none;
}

.message:hover .date {
  position: absolute;
  top: 4px;
  left: -3rem;
  display: block;
  font-size: 1px;
  z-index: 1;
}
