.link {
  hyphens: auto;
  line-break: auto;
  overflow-wrap: break-word;
  text-decoration: underline;
  word-break: break-word;
  word-wrap: break-word;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.line {
  text-decoration: line-through;
}
