@import '../../colors.scss';

.container {
  padding: 6rem 1rem;
  text-align: center;
}

.icon {
  font-size: 4rem;
  margin: 0 auto;
}

.header {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.description {
  color: $color-gray-700;
  margin: 0;
  font-size: 14px;
}
