.row {
  align-items: center;
  display: block;
  padding: 0.5rem 1.5rem;
  width: 100%;
}

.content {
  font-size: 12px;
}

.body {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.date,
.message {
  color: lightslategray;
}

.row {
  padding-bottom: 0.5rem;
}
.row + .row {
  border-top: 1px solid whitesmoke;
}
.row:last-child {
  padding-bottom: 0;
}

.links {
  display: block;
  padding-top: 0.5rem;
}

.links li {
  display: inline-block;
  margin-left: 0.25rem;
}

.links li:first-child {
  margin-left: 0;
}

.links li a {
  color: rgb(67, 56, 202);
  cursor: pointer;
}

.links li a:hover {
  text-decoration: underline;
}
