.row {
  align-items: center;
  display: block;
  padding: 0 1.5rem;
  width: 100%;
}

.row.selected {
  background-color: #f1f2f4;
}

.row:hover {
  background-color: #f6f7f9;
}

.checkbox {
  margin: 0.75rem;
}

.content {
  align-items: center;
  display: flex;
  font-size: 12px;
  width: 100%;
}

.body {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  padding: 0.75rem 0;
  width: 100%;
}

.channel {
  font-size: 14px;
}

.channel {
  color: #6a707c;
}

.row:last-child {
  padding-bottom: 0;
}

.links {
  display: block;
  padding-top: 0.5rem;
}

.links li {
  display: inline-block;
  margin-left: 0.25rem;
}

.links li:first-child {
  margin-left: 0;
}

.links li a {
  color: rgb(67, 56, 202);
  cursor: pointer;
}

.links li a:hover {
  text-decoration: underline;
}
