@import '@linen/styles/colors.scss';

.toast {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.undo {
  color: $color-blue-400;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  user-select: none;
}
