.threads {
  font-size: 12px;
}

.threads .item {
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  gap: 0.125rem;
  padding: 0.125rem 0.5rem 0.125rem 1.5rem;
}

.threads .item:hover {
  background: var(--color-gray-50);
}

.input {
  margin: 0.25rem 0.5rem 0 1.5rem;
  border-bottom: 1px solid var(--color-gray-200);
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 12px;
  background: transparent;
  transition: border-color 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.more {
  color: var(--color-gray-500);
}