.thread {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1024px) {
  .thread {
    padding-right: 250px;
  }
}

.footer {
  clear: both;
  min-height: 20px;
  display: flex;
  padding-bottom: 2rem;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer {
    min-width: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .footer {
    min-width: 360px;
  }
}

.count {
  font-size: 14px;
}

.subtext {
  color: #495057;
}
