@import '@linen/styles/colors.scss';

.link {
  align-items: center;
  color: $color-gray-500;
  display: flex;
  font-size: 0.75rem;
  letter-spacing: 1.3px;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  user-select: none;
  justify-content: space-between;

  padding: 0.375rem 0.5rem;
  margin: 0.125rem 0;
  width: 100%;

  transition: color 0.2s ease-in, background 0.2s ease-in;
}

.link:hover {
  color: $color-primary;
}
