@import '../../../../colors.scss';

.actions {
  cursor: pointer;
  display: flex;
  padding: 0;
}

.tooltip {
  display: block;
  padding: 0.375rem;
}

.actions li:hover {
  background: $color-gray-50;
  border-radius: 4px;
}

.active {
  color: $color-secondary;
}

.actions ul {
  background: var(--color-background);
  border-radius: 4px;
  border: 1px solid $color-gray-200;
  box-shadow: 0 1px 2px $color-gray-200;
  display: flex;
  height: 28px;
}