.group {
  background-color: #f6f7f9;
  border: 1px solid #ecedef;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0.125rem;
}

.group button {
  margin-left: 8px;
  margin-bottom: 0;
}

.group button:first-child {
  margin-left: 0;
}
