.container {
  background: var(--color-background);
  color: var(--color-text);
  cursor: pointer;
  position: relative;
}

.active {
  background-color: var(--color-gray-100);
}

.header {
  align-items: center;
  display: flex;
  margin-bottom: 0.75rem;
  width: 100%;
}

.text {
  display: flex;
  font-size: 14px;
  margin-left: 0.5rem;
}

.channel {
  position: absolute;
  right: 0.75rem;
}
