@import '../colors.scss';

.container {
  background: $color-white;
  min-height: calc(100vh - 54px);
  overflow-y: auto;
  width: 520px;
}

.container::-webkit-scrollbar {
  width: 0.5rem;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background: $color-gray-300;
  border-radius: 0.25rem;
}

.container::-webkit-scrollbar-thumb:hover {
  background: $color-gray-300;
}

.container.expanded {
  margin: 0 auto;
  max-width: 52rem;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    min-height: calc(100vh - 102px);
  }
}

.thread {
  background: $color-white;
}

.footer {
  clear: both;
  min-height: 20px;
  display: flex;
  padding: 1rem;
  padding-top: 2rem;
  gap: 0.5rem;
}

.container.expanded .footer {
  padding-bottom: 1rem;
}

.chat {
  background: $color-white;
  border-top: 1px solid $color-border;
  bottom: 0;
  padding: 1rem;
  position: sticky;
  width: 100%;
}

.container.expanded .chat {
  border-top: none;
  padding-top: 0;
}

@media (max-width: 1023px) {
  .container {
    min-width: 320px;
    width: 100%;
    max-width: 100%;
  }

  .footer {
    min-width: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .footer {
    min-width: 360px;
  }
}

.count {
  font-size: 14px;
}

.badge {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 11px;
  text-transform: uppercase;
  color: $color-gray-500;
  font-weight: 500;
  letter-spacing: 1.3px;
  overflow: hidden;
  user-select: none;
}

.badge .text {
  background: white;
  color: $color-gray-400;
  padding: 0.125rem 0.375rem 0.125rem 0.5rem;
  transition: color 0.2s ease-in;
}

.badge a.text:hover {
  color: $color-primary;
}

.badge .count {
  align-items: center;
  display: flex;
  font-size: 10px;
  padding: 0.125rem 0.375rem;
  justify-content: center;
}

.title {
  font-weight: bold;
  padding-bottom: 1rem;
}
