.attachments {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.image {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .attachments {
    flex-direction: column;
  }
}
