@import '../../colors.scss';

.container {
  display: flex;
}

.switch {
  max-width: 52px;
  background-color: white;
  max-height: calc(100vh - 54px);
  overflow: hidden;
}

.switch:hover {
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.switch:hover::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.switch .item {
  color: white;
  background: black;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: 0.5rem;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.1s ease-in background;

  &:hover {
    opacity: 0.75;
  }
}

.navbar {
  background: $color-background;
  background-color: white;
  max-height: calc(100vh - 54px);
  min-height: calc(100vh - 54px);
  overflow-y: auto;
  width: 200px;
  padding: 0.5rem 0;
  scrollbar-gutter: stable;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.navbar::-webkit-scrollbar {
  width: 0.5rem;
}

.navbar::-webkit-scrollbar-track {
  background: transparent;
}

.navbar::-webkit-scrollbar-thumb {
  background: $color-gray-300;
  border-radius: 0.25rem;
}

.navbar::-webkit-scrollbar-thumb:hover {
  background: $color-gray-300;
}

.animation {
  opacity: 1;
  width: 200px;
  transition: width 0.1s ease, opacity 0.1s ease;
}

.animation.collapsed {
  width: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.label {
  cursor: pointer;
}

.label:hover {
  background: $color-gray-50;
  color: $color-gray-900;
}
