@import 'styles/colors.scss';

.navbar {
  background: $color-background;
  border-right: 1px solid $color-border;
  max-height: calc(100vh - 64px);
  overflow-y: scroll;
  width: 200px;
  padding: 0.5rem 0.5rem;
}

.item {
  display: block;
}

.hover {
  background: $color-gray-50;
  border-radius: 4px;
  color: $color-gray-900;
}
