@import 'styles/colors.scss';

.container {
  display: flex;
}

.switch {
  max-width: 52px;
  border-right: 1px solid $color-border;
  background-color: white;
  max-height: calc(100vh - 64px);
  overflow: hidden;
}

.switch:hover {
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.switch:hover::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.switch .item {
  color: white;
  background: black;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: 0.5rem;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.1s ease-in background;

  &:hover {
    opacity: 0.75;
  }
}

.navbar {
  background: $color-background;
  background-color: white;
  border-right: 1px solid $color-border;
  max-height: calc(100vh - 64px);
  min-height: calc(100vh - 64px);
  overflow: hidden;
  width: 200px;
  padding: 0.5rem 0.5rem;
}

.navbar:hover {
  overflow-y: scroll;
}

.animation {
  opacity: 1;
  width: 200px;
  transition: width 0.2s ease-in, opacity 0.2s ease-in;
}

.animation.collapsed {
  width: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.item {
  display: block;
}

.drop {
  background: $color-blue-50;
  border-radius: 4px;
  color: $color-gray-900;
}

.drop > div {
  background: $color-blue-50;
  color: $color-gray-900;
}

.label {
  cursor: pointer;
}

.label:hover {
  background: $color-gray-50;
  color: $color-gray-900;
}
