.container {
  align-items: center;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
  height: 54px;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  display: block;
  padding-right: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search {
  display: none;
}

@media (min-width: 1024px) {
  .search {
    display: block;
  }
}

.upgrade {
  display: none;
  gap: 0.5rem;
}

@media (min-width: 1024px) {
  .upgrade {
    display: flex;
    gap: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .lgHidden {
    display: none;
  }
}
