.title {
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 16px;
  gap: 0.5rem;
}

.cursorPointer {
  cursor: pointer;
}

.textInput {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
