.header {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
}

.description {
  color: var(--color-gray-700);
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
