@import '../../../colors.scss';

.section {
  cursor: pointer;
  border-top: 1px solid var(--color-border);
  margin-top: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.section:hover {
  background: var(--color-gray-50);
}
