.container {
  display: block;
  position: relative;
  width: 100%;
}

.container + .container {
  margin-top: 1rem;
}

.select {
  appearance: none;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-width: 1px;
  border-radius: 0.375rem;
  border-color: #e5e7eb;
  min-width: 96px;
  width: 100%;
  display: block;
}

.select:focus {
  outline: none;
  border-color: #0070f3;
}

.icon {
  align-items: center;
  color: #adb5bd;
  display: flex;
  height: 36px;
  left: 0;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 36px;
}

.icon + .select {
  padding-left: 32px;
}

.blue .select {
  background: #1149e0;
  border-color: #1149e0;
  color: white;
  font-weight: bold;
}

.blue .select:focus {
  background: #193cb7;
  border-color: #193cb7;
}

.blue .icon {
  color: white;
}
