.group {
  background-color: #e5e7eb;
  border-radius: 128px;
  display: flex;
  align-items: center;
  padding: 0.125rem;
}

.group button {
  margin-left: 8px;
  margin-bottom: 0;
}

.group button:first-child {
  margin-left: 0;
}
