.avatar {
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}

.image {
  display: block;
  border-radius: 50%;
  height: 36px;
  border: 2px solid #fff !important;
}

.placeholder {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #6f00ff;
  width: 36px;
  height: 36px;
  text-align: center;
  text-transform: lowercase;
  line-height: 32px;
  color: white;
  background-color: #6f00ff;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.sm {
  width: 26px;
  height: 26px;
  line-height: 26px;
  border: none;
}

.lg {
  width: 38px;
  height: 38px;
  line-height: 38px;
  border: none;
}
