.btn {
  display: flex;
  border-radius: 0.375rem /* 6px */;
  border-width: 1px;
  padding: 0.5rem /* 8px */;
  justify-content: space-around;
  border-color: var(--color-gray-300);
  transition: color 0.2s ease, background 0.2s ease, border-color 0.2s ease;
}

.btn:hover {
  background: var(--color-blue-800);
  color: white;
  border-color: var(--color-blue-800);
}

.btnContent {
  display: flex;
  gap: 0.5rem /* 8px */;
  align-items: center;
}

.whitespaceNowrap {
  white-space: nowrap;
}
