@import '../colors.scss';

.input {
  background: white;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 38px;
  padding: 0;
  border: 1px solid $color-gray-200;
  border-radius: 0.25rem;
  overflow: hidden;
}

.input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.input::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

.input::-moz-color-swatch,
.input::-moz-focus-inner {
  border: 0;
}

.input::-moz-focus-inner {
  padding: 0;
}

.text {
  font-size: 12px;
  color: $color-gray-700;
}
