.label {
  align-items: center;
  color: var(--color-gray-700);
  border-radius: 0.5rem;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  justify-content: space-between;

  padding: 0.5rem;
  width: 100%;
}
