@import 'styles/colors.scss';

.animated-stripped-background {
  background: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 8px,
    $color-gray-100 8px,
    $color-gray-100 16px
  );
  background-size: 200% 200%;
  cursor: move;
  border-radius: 4px;
  animation: move 20s linear infinite;
}

@keyframes move {
  100% {
    background-position: 100% 100%;
  }
}
