$color-primary: #0855f4;
$color-secondary: #4495fa;
$color-tertiary: #25cde8;

$color-border: #e5e7eb;
$color-background: #ffffff;

$color-gray-100: #f5f5f5;
$color-gray-200: #dcdcdc;
$color-gray-300: #c8c8c8;
$color-gray-400: #b0b0b0;
$color-gray-500: #989898;
$color-gray-600: #787878;
$color-gray-700: #606060;
$color-gray-800: #404040;
$color-gray-900: #202020;
