@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

tbody tr:hover {
  /* background-color: #fafafa !important; */
  background-color: #f7f9fd !important;
}

code {
  background-color: rgb(240, 242, 244);
  padding: 4px 8px;
  border: 1px solid rgb(225, 225, 225);
}
