.page {
  background: var(--color-gray-100);
  padding-top: 4rem;
  min-height: 100vh;
}

.header {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.content {
  padding: 2rem 3rem;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo a {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .page {
    padding-top: 2rem;
  }

  .content {
    padding: 1rem 1.5rem;
  }
}
