.image {
  border-radius: 50%;
  display: block;
  height: 36px;
  max-width: 36px;
  min-width: 36px;
  width: 36px;
  object-fit: cover;
  position: relative;
}

.placeholder {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  min-width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: lowercase;
  color: var(--color-background);
  background-color: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
  user-select: none;
}

.shadow {
  box-shadow: 0 1px 2px var(--color-gray-300);
}

.active {
  position: relative;
  height: 36px;
}

.active::after {
  content: '';
  position: absolute;
  height: 0.5625rem;
  width: 0.5625rem;
  bottom: 0;
  right: 0;
  background: var(--color-green-500);
  box-shadow: 0 0 0 2px var(--color-background);
  border-radius: 9999px;
}

.sm {
  width: 26px;
  min-width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  font-weight: 500;
}

.xl {
  width: 96px;
  min-width: 96px;
  height: 96px;
  line-height: 96px;
  font-size: 36px;
  font-weight: 500;
}

.color-red {
  background: #ffebee;
  color: #b71c1c;
}

.color-magenta {
  background: #ffe8f0;
  color: #a20d41;
}

.color-purple {
  background: #f3e5f5;
  color: #4a148c;
}

.color-indigo {
  background-color: #e8eaf6;
  color: #1a237e;
}

.color-blue {
  background-color: #e3f2fd;
  color: #0d47a1;
}

.color-cyan {
  background-color: #e0f7fa;
  color: #006064;
}

.color-teal {
  background-color: #e0f2f1;
  color: #004d40;
}

.color-green {
  background-color: #e9f5e9;
  color: #305332;
}

.color-lime {
  background-color: #f5facb;
  color: #645b0c;
}

.color-mustard {
  background-color: #fff9de;
  color: #845c07;
}

.color-orange {
  background-color: #fdeee5;
  color: #a22d09;
}

.color-brown {
  background-color: #f5e1d4;
  color: #5a1500;
}
