@import 'styles/colors.scss';

.actions {
  cursor: pointer;
  display: flex;
  padding: 0;
}

.actions li {
  padding: 0.375rem;
}

.actions li:hover {
  background: rgb(249 250 251);
}

.active {
  color: $color-secondary;
}
