.link {
  hyphens: auto;
  line-break: auto;
  overflow-wrap: break-word;
  text-decoration: underline;
  word-break: break-word;
  word-wrap: break-word;
}

.line {
  text-decoration: line-through;
}

.text {
  color: #36454f;
  font-size: 14px;
  margin-bottom: 4px;
}

.arrow {
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  user-select: none;
}
