.container {
  display: block;
  position: relative;
  width: 100%;
}

.container + .container {
  margin-top: 1rem;
}

.input {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-width: 1px;
  border-radius: 0.375rem;
  border-color: #e5e7eb;
  width: 100%;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.input:focus {
  outline: none;
  border-color: #0070f3;
}

.icon {
  align-items: center;
  color: #adb5bd;
  display: flex;
  height: 38px;
  left: 0;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 36px;
}

.icon + .input {
  padding-left: 32px;
}
