.pagination {
  align-items: center;
  display: flex;
}

.count {
  align-content: center;
  color: var(--color-gray-700);
  display: flex;
  font-size: 12px;
  font-weight: 400;
  gap: 0.25rem;
  padding: 0.5rem;
}

@media screen and (max-width: 767px) {
  .count {
    display: none;
  }
}
