@import '../../colors.scss';

.logo {
  display: block;
  height: 24px;
  max-width: max-content;
  object-fit: contain;
  user-select: none;
}

.linen {
  height: 24px;
  width: 108px;
  transition: opacity 0.1s ease, filter 0.1s ease;
}

.linen:hover {
  opacity: 0.8;
  filter: grayscale(1);
}
