.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.close {
  background-color: var(--color-background);
  color: var(--color-gray-400);
  border-radius: 0.375rem;
  cursor: pointer;

  :hover {
    color: var(--color-gray-500);
  }
}

.li {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray-700);
  cursor: pointer;
  margin-bottom: 0.25rem;
  border: 1px solid var(--color-gray-200);
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  justify-content: space-between;
}

.li:first-child {
  margin-top: 0.5rem;
}

.li:last-child {
  margin-bottom: 0;
}

.flex {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}