.group {
  display: flex;
  justify-content: left;
  align-items: center;
  min-width: 36px;
}

.placeholder {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  width: 36px;
  height: 36px;
  text-align: center;
  text-transform: lowercase;
  line-height: 32px;
  background-color: #f8f9fa;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.item + .item {
  margin-left: 2px;
}
