.filters {
  align-items: center;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}

.group {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.filter {
  margin-bottom: 0;
}

.filter:first-child {
  margin-left: 0;
}
