.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: var(--header-height);
}

.push {
  height: var(--push-height);
}

.logo {
  visibility: visible;
  margin-top: 15px;
  img {
    height: 16px;
  }
}
