.header {
  position: fixed;
  top: var(--titlebar-height);
  left: 0;
  width: 100%;
  z-index: 1000;
  height: var(--header-height);
}

.push {
  height: var(--push-height);
}

.logo {
  visibility: hidden;
}