.container {
  position: relative;
}
.textarea {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-width: 1px;
  border-radius: 0.375rem;
  border-color: #e5e7eb;
  width: 100%;
  display: block;
  margin-bottom: 0.25rem;
}

.textarea:focus {
  outline: none;
  border-color: #0070f3;
}

.textarea[hidden] {
  display: none;
}

.toolbar {
  text-align: right;
}
