@import '../../../../colors.scss';

.pagination {
  align-items: center;
  display: flex;
}

.count {
  align-content: center;
  color: $color-gray-700;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  gap: 0.25rem;
  padding: 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
  padding: 0.5rem;
  transition: 0.1s ease-in background;
}

.icon:hover {
  background: $color-gray-100;
}

.icon.disabled {
  color: $color-gray-400;
  cursor: auto;
}

.icon.disabled:hover {
  background: inherit;
}

@media screen and (max-width: 767px) {
  .count {
    display: none;
  }
}
