.filters {
  align-items: center;
  display: flex;
  padding: 0 1.5rem 0.5rem;
  justify-content: space-between;
}

.filter {
  margin-bottom: 0;
  margin-left: 0.25rem;
}

.filter:first-child {
  margin-left: 0;
}
